/* -------------------------------------------- */
/* HTML Body */
:root {
  --gap: 0.75rem;
  --black: #121212;
  --white: #fffffe;
  --primary-theme: radial-gradient(circle at 10% 20%,
      rgb(255, 197, 61) 0%,
      rgb(255, 94, 7) 90%) no-repeat center center/cover fixed;
  --secondary-theme: ;
  --accent-color: ;

}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--primary-theme);
}

html,
body {
  width: 100%;
}

::selection {
  color: yellow;
  background-color: orangered;
}

.block {
  /* padding: var(--gap); */
  margin: 2rem 1.5rem;
}

img {
  width: 100%;
}

p {
  color: var(--black);
  font-size: 1.125rem;
}

@media only screen and (max-width: 480px) {
  * {
    cursor: text;
  }
}

/* -------------------------------------------- */
/* header */
.header {
  top: 0;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  font-weight: 700;
  padding: var(--gap) 0;
  align-items: center;
  background: #ffffff20;
  --backdrop-filter: blur(1rem);
  justify-content: space-between;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  box-shadow: 0 1rem 1rem #00000020, inset 0 -1rem 1rem #ffffff20;
}

/* -------------------------------------------- */
.header__navbar-brand {
  display: flex;
  cursor: pointer;
  padding: var(--gap);
  align-items: center;
}

.header__navbar-brand .img-box {
  width: 3rem;
}

.header__navbar-brand .header__logo {
  padding-left: var(--gap);
  color: var(--white);
}

/* -------------------------------------------- */
.header__navbar {}

.header__navbar-nav {
  display: flex;
}

.header__nav-item {
  margin: 0.1rem;
  cursor: pointer;
  padding: var(--gap);
  transition: all 0.3s;
  border-radius: var(--gap);
  border-top: 1px solid #ffffff00;
  border-left: 1px solid #ffffff00;
}

.header__nav-item:hover {
  background-color: #ffffff20;
  --backdrop-filter: blur(1rem);
  border-top: 1px solid #ffffff20;
  border-left: 1px solid #ffffff20;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

.header__nav-link {
  color: var(--white);
  transition: all 0.3s;
}

/* -------------------------------------------- */

.header__btn-group {
  display: flex;
  justify-content: flex-end;
}

.header__btn {
  width: 6rem;
  border: none;
  display: flex;
  margin-left: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  padding: var(--gap);
  margin: 0 var(--gap);
  align-items: center;
  border-radius: var(--gap);
  justify-content: center;
  transition: all 0.3s ease;
  background-color: #ffffff20;
  --backdrop-filter: blur(1rem);
  border-top: 1px solid #ffffff20;
  border-left: 1px solid #ffffff20;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
}

.header__btn:hover {
  font-size: 1rem;
  background: #ffffff80;
}

/* -------------------------------------------- */
@media only screen and (max-width: 480px) {
  .sign-up-btn {
    display: none;
  }
}

@media only screen and (max-width: 934px) {
  .header__navbar {
    display: none;
  }
}

@media only screen and (max-width: 349px) {
  .header__logo {
    font-size: 1.125rem;
    padding: 0 1rem;
  }
}

/* -------------------------------------------- */
/* Front-page */
.front-page {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap-reverse; */
  justify-content: space-between;
}

.front-page .left-box,
.front-page .right-box {
  /* padding: var(--gap);
  margin: var(--gap);
  width: 50%; */
  width: auto;
  width: 100%;
}

.front-page * {
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .front-page {
    flex-wrap: wrap-reverse;
  }

  .front-page .right-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .front-page .right-box .img-box {
    width: 18rem;
  }
}

.front-page .left-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  /* width: 60%; */
}

/* .front-page .left-box .design { */
.design {
  color: var(--white);
}

.front-page .left-box .title {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.front-page .left-box .title .boxing .img-box {
  width: 3rem;
  animation-name: move;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes move {
  10% {
    rotate: 3deg;
  }

  60% {
    rotate: 6deg;
  }

  100% {
    rotate: -9deg;
  }
}

.front-page .left-box .subtitle {
  font-size: 1.5rem;
  /* margin-top: -1.5rem; */
}

.front-page .left-box .text {
  margin-top: 2rem;
}

.front-page .left-box .card__btn-group {
  display: flex;
  margin: var(--gap);
  justify-content: center;
}

.front-page .left-box .card__link {
  padding: var(--gap);
  margin: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  border-radius: var(--gap);
  font-size: 1.125rem;
  /* width: 18rem; */
  /* background-image: ; */
  transition: all 0.3s ease-out;
  cursor: pointer;
  font-weight: bold;
  border: solid var(--white);
  color: var(--white);
}

.front-page .left-box .card__link:hover {
  /* background-clip: unset; */
  background-image: green;
  color: var(--white);
}

.front-page .right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40%; */
}

.front-page .img-box {
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 2px 2px #121212);
}

/* -------------------------------------------- */
/* Frontpage Responsivness */
@media only screen and (min-width: 768px) {

  .front-page .left-box,
  .front-page .right-box {
    margin: var(--gap);
    padding: var(--gap);
  }
}

/* -------------------------------------------- */
/* Anything block */

.hero__section {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__title {
  font-size: 3rem;
}

.hero__title--highlight {
  animation: color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes color {

  /* 0% {
    color: var(--white);
  } */
  100% {
    color: yellow;
  }
}

.hero__section .divider {
  width: 100%;
  height: 1px;
  border: none;
  background-image: linear-gradient(to left, red, orange);
}

.hero__items {
  display: flex;
  /* padding: 7rem; */
  width: 100%;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.hero__figure {
  width: 12rem;
}

.hero__figure-img {
  cursor: pointer;
  transition: 0.5s all ease;

  filter: drop-shadow(1px 1px 5px #121212);
}

.hero__figure:nth-child(1) {
  animation: img 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

.hero__figure:nth-child(2) {
  animation: img 2s;
  animation-iteration-count: 1;
  animation-delay: 3s;
}

.hero__figure:nth-child(3) {
  animation: img 2s;
  animation-iteration-count: 1;
  animation-delay: 5s;
}

.hero__figure:nth-child(4) {
  animation: img 2s;
  animation-iteration-count: 1;
  animation-delay: 7s;
}

@keyframes img {
  0% {
    scale: 1;
  }

  80% {
    scale: 1.25;
  }

  100% {
    scale: 1;
  }
}

.hero__figure-img:hover {
  scale: 1.1;
}

@media only screen and (max-width: 768px) {
  .hero__section h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 517px) {
  .hero__section h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .hero__section h3 {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 768px) {
  .hero__items {
    margin: 7rem 0;
  }
}

/* -------------------------------------------- */
/* Card-Group */
.card-group {
  gap: var(--gap);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  gap: var(--gap);
  width: 18rem;
  display: flex;
  padding: 1.125rem;
  flex-direction: column;
  border-radius: 1.125rem;
  justify-content: center;
  border: none;
  border-top: 3px solid #ffffff30;
  border-left: 3px solid #ffffff30;
  background-color: #fffffe40;
  backdrop-filter: blur(1rem) saturate(180%);
}

/* -------------------------------------------- */
.card__figure {
  display: flex;
}

.card__figure-img {
  height: 10rem;
  width: 100%;
  filter: drop-shadow(2px 2px 2px #121212);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.card__figure-img:hover {
  scale: 1.1;
}

/* -------------------------------------------- */
.card__body {
  display: flex;
  flex-direction: column;
}

/* -------------------------------------------- */
.card__title {
  margin: 1rem 0;
  overflow: hidden;
}

.card__price {
  color: #ff0000;
}

.card__text {
  margin: 1rem 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* -------------------------------------------- */
.card__btn-group {
  display: flex;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  gap: var(--gap);
}

.card__btn {
  font-family: Poppins;
  border-radius: var(--gap);
  padding: var(--gap);
  margin: 0 var(--gap);
  background-size: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  text-wrap: nowrap;
  background-image: linear-gradient(to top left, yellow, orange);
}

.card__btn:hover {
  background-size: 200%;
  scale: 1.1;
}

.card__btn {
  color: currentColor;
}

/* -------------------------------------------- */
/* Footer */

.footer {
  margin-top: 1rem;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  border-radius: var(--gap) var(--gap) 0 0;
  justify-content: space-evenly;
  /* justify-content: center; */
  /* background-color: #ffffff20; */
  /* --backdrop-filter: blur(1rem); */
  border-top: 1px solid #ffffff20;
  border-bottom: 1px solid #ffffff20;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  box-shadow: 0 -1rem 1rem #ffffff20, inset 0 1rem 1rem #ffffff20;
  background-image: linear-gradient(to top left,
      rgb(255, 94, 7) 90%,
      #ff000030);
}

/* -------------------------------------------- */
@media only screen and (max-width: 688px) {
  .footer__row {
    justify-content: flex-start;
  }
}

/* -------------------------------------------- */

.footer__col {
  gap: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* width: 16rem; */
}

.footer__title {
  color: #ffff00;
  font-size: 1.125rem;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__item {
  margin: var(--gap) 0;
}

.footer__link {
  color: var(--white);
  transition: all 0.3s ease;
  padding: var(--gap);
  border: #ffffff00 solid 1px;
  border-radius: var(--gap);
}

.footer__link:hover {
  /* color: rgb(255, 94, 7); */
  border: #fff solid 1px;
  /* border-radius: var(--gap); */
}

@media only screen and (max-width: 480px) {
  .footer__row {
    flex-direction: column;
  }
}

/* -------------------------------------------- */

.footer__second-row {
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  color: var(--white);
  padding: var(--gap) 0;
  background: #ffffff20;
  --backdrop-filter: blur(1rem);
  border-top: 1px solid #ffffff20;
  border-bottom: 1px solid #ffffff20;
  backdrop-filter: var(--backdrop-filter);
  -webkit-backdrop-filter: var(--backdrop-filter);
  box-shadow: 0 -1rem 1rem #00000020, inset 0 1rem 1rem #ffffff20;
}

.footer__content {
  display: flex;
  align-items: center;
  margin: var(--gap) auto;
  justify-content: center;
}

.copyright {
  font-size: 14px;
  color: var(--white);
  margin: 0 var(--gap);
  text-align: center;
}

.copyright span {
  color: var(--primary-theme);
}

.footer__second-row .footer__menu {
  display: flex;
  margin: var(--gap) auto;
}

.footer__second-row .footer__item {
  margin: 0 var(--gap);
  font-size: 0.875rem;
}

.footer__second-row .footer__link {
  color: currentColor;
}

@media only screen and (max-width: 660px) {
  .footer__content {
    order: 1;
  }

  .footer__menu {
    order: 0;
  }
}

/* -------------------------------------------- */
/* Responsivness */
/* Laptop Large Screen Responsiveness */
@media only screen and (min-width: 1440px) {}

/* Laptop Large Screen Responsiveness */
/* Laptop Screen Responsiveness */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {}

/* Laptop Screen Responsiveness */
/* Tablet Responsiveness */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
  }
}

/* Tablet Responsiveness */
/* Mobile Large Screen Responsiveness */
@media only screen and (min-width: 425px) and (max-width: 768px) {}

/* Mobile Large Screen Responsiveness */
/* Mobile Medium Screen Responsiveness */
@media only screen and (min-width: 375px) and (max-width: 425px) {}

/* Mobile Medium Screen Responsiveness */
/* Work in progress (decision-making) */
@media only screen and (min-width: 320px) and (max-width: 375px) {}

/* Work in progress (decision-making) */
/* Mobile Small Screen Responsiveness */
@media only screen and (max-width: 320px) {
  .card__img-top {
    width: 3rem;
    padding: 0;
    margin: 0;
  }

  .card {
    display: block;
  }
}

/* Mobile Small Screen Responsiveness */
/* -------------------------------------------- */